*{padding: 0%;
    margin: 0%;
}

@media(max-width:600px){
    .header{
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    .section1{
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    .section2{
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    .section3{
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    .flex{
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
}